<h1>Описание блюда</h1>
<h2><p align="right"><a href="{% url 'home' %}">Go homepage</a></p></h2>
<hr>
<section>
    <form method="POST" action="">
    <h2>Напишите отзыв!</h2>
    {% csrf_token %}
    {{form}}
    <input type="submit"></form>

<p align="center"><img src="{{meal.photo.url}}" height="252" width="252"></p>
<p align="center">Название:{{meal.title}}</p>
<p align="center">Цена:{{meal.price}}</p>
<p align="center">Состав:{{meal.ingredients}}</p>
<p align="center">Порция:{{meal.gramms}}</p>
<p align="center">Тип:{{meal.category}}</p>
<p align="center"><a href="{% url 'order' %}">Заказать!</a></p>
    <h2>Комментарии</h2>
    {% for c in comment %}
        <p>Пользователь:{{c.user}}</p>
        <p>Текст комментария:{{c.text}}</p>
        <p>Дата создания:{{c.date_created}}</p><br>
        <hr>
    {% endfor %}

</section>


